{% extends 'main_site/base.html' %}

{% block title %}
    Documentation
{% endblock %}

{% block content %}

<main>
    <section>
        <div class="container">
            <h4 class="mt-2"><strong>API Documentation</strong></h4>
            <hr>
            <div class="row d-flex" >
                <div class="col-md-3 mt-3" >
                    <div>
                        <div class="border rounded p-2 sticky-top top-0 uk-box-shadow-hover-medium bg-warning bg-opacity-10" >
                            <h5 class="text-secondary"><strong>Navigate here</strong></h5>
                            <ul class="ps-1">
                                <li class="d-inline-block mb-2 mt-1  p-1 "> 
                                    <a class="text-decoration-none text-secondary" href="#fetch_all"> <span uk-icon="link"> </span> Fetch data all</a>
                                </li>
                                <li class="d-inline-block mb-2 mt-1  p-1 "> 
                                    <a class="text-decoration-none text-secondary" href="#get_one"> <span uk-icon="link"> </span> Fetch data with slug</a>
                                </li>
                                <li class="d-inline-block mb-2 mt-1  p-1 "> 
                                    <a class="text-decoration-none text-secondary" href="#delete"> <span uk-icon="link"> </span> Delete product</a>
                                </li>
                                <li class="d-inline-block mb-2 mt-1  p-1 "> 
                                    <a class="text-decoration-none text-secondary" href="#create"><span uk-icon="link"> </span> Create data to the DATABASE</a>
                                </li>
                                <li class="d-inline-block mb-2 mt-1  p-1 "> 
                                    <a class="text-decoration-none text-secondary" href="#update_one"><span uk-icon="link"> </span> Update partially data </a>
                                </li>
                                <li class="d-inline-block mb-2 mt-1  p-1 "> 
                                    <a class="text-decoration-none text-secondary" href="#update_all"><span uk-icon="link"> </span> Update all the fields at once</a>
                                </li>
                            </ul>

                        </div>
                        
                    </div>

                </div>
                <div class="col-md-9">
                    <article class="bg-success bg-opacity-10 m-3 rounded p-3" id="get">
                        <p>
                            <strong>| For retrive all the products details . </strong><br>
                            <span class="border rounded p-1 bg-success text-light ps-2 pe-2 pt-1 pb-1 mt-2"><small>Method : GET</small></span>
                        </p>
                        <p><strong>URL : </strong><code class="mt-2"> https://assignment.pythonanywhere.com/api/products</code></p>
                    </article>
        
                    <article class="bg-success bg-opacity-10 m-3 rounded p-3" id="get_one">
                        <p>
                            <strong>| For retrive the products details specificly with slug of the product. </strong><br>
                            <span class="border rounded p-1 bg-success text-light ps-2 pe-2 pt-1 pb-1 mt-2"><small>Method : GET</small></span>
                        </p>
                        <p><strong>URL : </strong><code class="mt-2"> https://assignment.pythonanywhere.com/api/products/example-slug-title/</code></p>
        
                    </article>
        
                    <article class="bg-success bg-opacity-10 m-3 rounded p-3" id="delete">
                        <p>
                            <strong>| Delete product data from database with ID. </strong><br>
                            <span class="border rounded p-1 bg-success text-light ps-2 pe-2 pt-1 pb-1 mt-2"><small>Method : DELETE</small></span>
                        </p>
                        <p class="m-0"><strong>URL : </strong><code class="mt-2"> https://assignment.pythonanywhere.com/api/products/1/</code></p>
        
                    </article>
        
                    <article class="bg-success bg-opacity-10 m-3 rounded p-3" id="create">
                        <p>
                            <strong>| To add product to the database use , </strong><br>
                            <span class="border rounded p-1 bg-success text-light ps-2 pe-2 pt-1 pb-1 mt-2"><small>Method : POST</small></span>
                        </p>
                        <p class=""><strong>URL : </strong><code class="mt-2"> https://assignment.pythonanywhere.com/api/products/</code></p>
                        <div class=" " id=son>
                            <pre class="overflow-hidden shadow">
            { 
                "slug" : "auto-slug-field",
                "product_name" : "product name",
                "discription" : "product detail",        
                "price" : 100.00,
                "product_img" : "image url"                                                                                                       
            }
                            </pre>
                        </div>
                    </article>
                    <article class="bg-success bg-opacity-10 m-3 rounded p-3" id="update_one">
                        <p>
                            <strong>| If you want to update any field's existing product detail you can use . </strong><br>
                            <span class="border rounded p-1 bg-success text-light ps-2 pe-2 pt-1 pb-1 mt-2"><small>Method : PATCH</small></span>
                        </p>
                        <p class=""><strong>URL : </strong><code class="mt-2"> https://assignment.pythonanywhere.com/api/products/1/</code></p>
                        <div class=" " id=son>
                            <pre class="overflow-hidden shadow">
            <small>You can pass as many fields you want .</small>
            { 
                "slug" : "auto-slug-field",
                "product_name" : "...",
                "discription" : "...",        
                "price" : ...,
                "product_img" : "..."                                                                                                       
            }
                            </pre>
                        </div>
                    </article>
        
                    <article class="bg-success bg-opacity-10 m-3 rounded p-3" id="update_all">
                        <p>
                            <strong>| If you want to update all the fields data once use this . </strong><br>
                            <span class="border rounded p-1 bg-success text-light ps-2 pe-2 pt-1 pb-1 mt-2"><small>Method : PUT</small></span>
                        </p>
                        <p class=""><strong>URL : </strong><code class="mt-2"> https://assignment.pythonanywhere.com/api/products/1/</code></p>
                        <div class=" " id=son>
                            <pre class="overflow-hidden shadow">
            <small>You have to pass all the fields data to update with put .</small>
            { 
                "slug" : "auto-slug-field",
                "product_name" : "...",
                "discription" : "...",        
                "price" : ...,
                "product_img" : "..."                                                                                                       
            }
                            </pre>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </section>
</main>

{% endblock %}